@import "../../../node_modules/bootstrap/scss/bootstrap";

.profile {
  padding: 32px 15%;

  .userInfo {
    .userInfoImg {
      width: 128px;
      height: 128px;
      border-radius: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      img {
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .userInfoName {
      font-weight: bold;
    }
    
    .userInfoStat {
      .userInfoStatIcon {

      }
      .userInfoStatVal {
        font-size: 1.2em;
        color:lightslategray;
      }
      .userInfoStatName {
        
      }
    }

    .userInfoActions {
      .userInfoActionsPrimary, .userInfoActionsSecondary {
        border-radius: 5px;
        padding: 8px 32px;
        text-align: center;
      }

      .userInfoActionsPrimary {
        color: white;
        background-color: lightslategray;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }

      .userInfoActionsSecondary {
        background-color: white;    
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }
  }

  .portfolio {

  }
}