@import "../../../node_modules/bootstrap/scss/bootstrap";

.submitButton {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btnHover {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin: auto;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnHover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnHover:focus {
  outline: none;
}

.btnHover:disabled {
  filter: grayscale(0.5);
}