@import "../../../node_modules/bootstrap/scss/bootstrap";

.search {
  width: 300px;
  border-radius: 5px;
  padding: 2px 10px;
  background-color: rgb(233, 233, 233);
}

.searchInput {
  padding-left: 10px;
}