@import "../../../node_modules/bootstrap/scss/bootstrap";

.postDrawerWrapper {
  padding: 32px 10%;

  .postDrawerContent {
    .postDrawerMedia {
      width: 500px;
      height: 500px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .postDrawerDescription {

    }
  }
}
