@import "../../../node_modules/bootstrap/scss/bootstrap";

.navbar {
  height: 70px;
  width: 100%;
  padding: 20px 20%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbarActions {
  div {
    margin-right: 12px;
  }
}

.navbarUser {
  width: 32px;
  height: 32px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}